<div class="container">    
  <table class="table">
    <thead></thead>
    <tbody>
      <td class="top">
        <p class="para">
          <b>Compare</b>
        </p>
        <p class="para head">
          2 items selected
        </p>
        <div class="check">
        <input type="checkbox" name="selected" value="false"> Show only differences
        </div>
      </td>
      <td class="top">
        <div class="contain">
          <img src="https://rukminim1.flixcart.com/image/1000/1000/jgffp8w0/television/u/b/t/iffalcon-55k2a-original-imaf4z2mn6xrxk5f.jpeg?q=100" alt="Snow" style="width:100%">
          <button class="btn">X</button>
        </div>
      </td>
      <td class="top">
          <div class="form-group">
              <label for="products"> PRODUCTS
              <select id="products" class="form-control" [(ngModel)]="name">
                <option *ngFor="let prod of name" [ngValue]="name">{{prod.name}}</option>
              </select>
              </label>
        </div>
      </td>
    </tbody>
    <thead>
      <tr>
        <th>DISPLAY</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>Size</b></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><b>Screen Type</b></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><b>HD Technology & Resolution</b></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><b>3D</b></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>GENERAL FEATURES</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>Smart TV</b></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><b>Curve TV</b></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><b>Touchscreen</b></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><b>Motion Sensor</b></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><b>Launch Year</b></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><b>In the Box</b></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>INTERNET FEATURES</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>Built In Wi-Fi</b></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><b>Wirless Ready</b></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><b>3G Dongle Plug and Play</b></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><b>Ethernet (RJ45)</b></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>